html,body,div,h1,h2,h3,h4,p,blockquote,a,abbr,cite,img,sup,ol,li,table,tbody,thead,tr,th,td
	{
	font-size: 100%;
	color: #4A4A43;
	font-family: Arial, Helvetica, sans-serif;
}

h1,h2,h3,.button {
	text-align: center;
}

h1 {
	font-size: 200%;
}

h2 {
	font-size: 150%;
}

h3 {
	font-size: 130%;
}

h4 {
	font-size: 120%;
}

blockquote {
	font-style: italic;
}

th {
	border-bottom: 2px solid #4A4A43;
	text-align: left;
}

a {
	color: #000033;
}

a:HOVER {
	color: #333300;
	font-weight: bold;
}

.abschnitt {
	background-color: #F5F5DC;
	border: 2px solid #4A4A43;
	margin: 10px auto;
	padding: 10px;
	width: 80%;
}

.ug {
	background-color: #dcdcf5;
}


.tag {
	font-size: 110%;
	font-weight: bold;
}

.thsem,.thbli,.r3,.r4 {
	text-align: center;
}

.sem {
	border: 4px solid #253629;
	height: 25px;
	width: 25px;
	background-color: #9DE0AD;
	color: #253629;
	font-size: 1.5em;
	font-weight: bold;
	margin-right: 20px;
	text-align: center;
}

.nsem {
	border: 4px solid #ed5151;
	height: 25px;
	width: 25px;
	background-color: #EEEEEE;
	color: #ed5151;
	font-size: 1.5em;
	font-weight: bold;
	margin-right: 20px;
	position: relative;
	text-align: center;
}

.block {
	border: 4px solid #2c303b;
	height: 25px;
	width: 75px;
	background-color: #acbae5;
	color: #2c303b;
	font-size: 1.3em;
	margin-right: 20px;
	text-align: center;
}

.inline {
	border: 4px solid #525221;
	height: 25px;
	width: 75px;
	background-color: #ffff66;
	color: #525221;
	font-size: 1.3em;
	margin-right: 20px;
	text-align: center;
}