li {
	font-size: 12px;
}

.tag {
	font-size: 14px;
	font-weight: bold;
}

.desc {
	font-size: 12px;
}

.sem {
	width: 30px;
	height: 30px;
	border-radius: 100%;
	background-color: #9DE0AD;
	color: #008800;
	text-align: center;
	font-weight: bold;
	font-size: 2em;
	border: 4px solid #008800;
	box-shadow: 5px 5px 5px #888;
	display: inline-block;
	margin-right: 20px;
}

.nsem {
	width: 30px;
	height: 30px;
	background-color: #eee;
	border-radius: 2px;
	color: #CC0000;
	text-align: center;
	font-weight: bold;
	font-size: 2em;
	border: 4px solid #CC0000;
	box-shadow: 5px 5px 5px #888;
	display: inline-block;
	position: relative;
	margin-right: 20px;
}

.block {
	width: 120px;
	height: 20px;
	border-radius: 5px;
	background-color: lightblue;
}

.inline {
	width: 120px;
	height: 20px;
	border-radius: 5px;
	background-color: yellow;
}